.sidebar {
  // https://caniuse.com/css-sticky
  position: -webkit-sticky;
  position: sticky;
  top: $sidebar-offset;

  +tablet-mobile() {
    display: none;
  }
}

.sidebar-inner {
  background: var(--content-bg-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: var(--text-color);
  margin-top: $sidebar-offset;
  max-height: 'calc(100vh - %s)' % unit($sidebar-offset * 2, 'px');

  if (hexo-config('motion.enable') and hexo-config('motion.transition.sidebar')) {
    visibility: hidden;
  }
}

.site-state-item {
  padding: 0 10px;
}

.sidebar .sidebar-button {
  border-bottom: 1px dotted $grey-light;
  border-top: 1px dotted $grey-light;

  button {
    border: 0;
    color: $orange;
    display: block;
    width: 100%;

    &:hover {
      background: none;
      border: 0;
      color: darken($orange, 20%);
    }
  }
}

.links-of-author {
  flex-wrap();
}

.links-of-author-item {
  sidebar-inline-links-item();

  if (not hexo-config('social_icons.icons_only')) {
    width: 50%;
  }

  a {
    border-bottom: 0;
    border-radius: 4px;
    display: block;

    &:hover {
      background: var(--body-bg-color);
    }
  }
}

.links-of-blogroll-item {
  if (hexo-config('links_settings.layout') == 'inline') {
    display: inline-block;
    max-width: 100%;
    sidebar-inline-links-item();
  }
}

if (hexo-config('back2top.sidebar')) {
  // Only when back2top.sidebar is true, apply the following styles
  .back-to-top {
    background: var(--body-bg-color);
    margin: 8px - $sidebar-offset -10px -18px;

    &.back-to-top-on {
      margin-top: 16px;
    }
  }
}

// 文章内链接文本样式 
.post-body p a{ 
    color: #0593d3; 
    border-bottom: none; 
    border-bottom: 1px solid #0593d3; 
    &:hover { 
        color: #fc6423; 
        border-bottom: none; 
        border-bottom: 1px solid #fc6423; 
    } 
}

// 修改选中字符的颜色
/* webkit, opera, IE9 */
::selection { 
    background: #00c4b6;
    color: #f7f7f7; 
}
/* firefox */
::-moz-selection { 
    background: #00c4b6;
    color: #f7f7f7;    
}

// 修改网站头部颜色
.headband {
    height: 3px;
    background: #49b1f5;
}
.site-meta {
    padding: 20px 0;
    color: #fff;
    background: #49b1f5;
}
.site-brand-container {
    color: #fff;
    background: #49b1f5;
}
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}

// 修改按键（button）样式
.btn {
    color: #49b1f5;
    background: #fff;
    border: 2px solid #49b1f5;
}
// 按键（button）点击时样式
.btn:hover {
  border-color: #49b1f5;
  color: #fff;
  background: #49b1f5;
}

// 鼠标移动至文章标题时的效果
.posts-expand .post-title-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #49b1f5;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}